<div class="side_bar_header">
  <div class="header_name">
    <a href="#">SASARA</a>
  </div>
  <div class="create_room">
    <a href="#">CREATE CHAT</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room_name">
      <a href="#">chatroom1</a>
    </div>
  </div>
</div>