<div class="side_bar_header">
  <div class="header_name">
    <%= link_to current_user.name, edit_user_path(current_user.id) %>
  </div>
  <div class="create_room">
    <a href="#">CREATE CHAT</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room_name">
      <a href="#">chatroom1</a>
    </div>
  </div>
</div>